In [1]:
import pandas as pd
import requests
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#get data from Johns Hopkins University Center for Systems Science and Engineering (JHU CCSE)
def get_data(start_date, end_date):
    result = pd.DataFrame()
    temp_date = pd.to_datetime(start_date)
    e_date = pd.to_datetime(end_date)
    while temp_date <= e_date:
        try:
            temp_df = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/{:02d}-{:02d}-{}.csv".format(temp_date.month, temp_date.day, temp_date.year))
            temp_df["date"] = temp_date
            result = result.append(temp_df, ignore_index = True)
        except:
            pass
        temp_date = temp_date + pd.Timedelta(days = 1)
    return result

In [3]:
df = get_data("2020-01-22", "today")
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,date
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN,2020-01-22
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN,2020-01-22
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN,2020-01-22
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN,2020-01-22
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN,2020-01-22
...,...,...,...,...,...,...,...
2580,"Seattle, WA",US,2020-02-09T07:03:04,1.0,0.0,1.0,2020-02-27
2581,"Tempe, AZ",US,2020-02-25T21:23:03,1.0,0.0,1.0,2020-02-27
2582,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0,2020-02-27
2583,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0,2020-02-27
2584,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0,2020-02-27

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2585 entries, 0 to 2584
Data columns (total 7 columns):
Province/State    1838 non-null object
Country/Region    2585 non-null object
Last Update       2585 non-null object
Confirmed         2566 non-null float64
Deaths            2144 non-null float64
Recovered         2197 non-null float64
date              2585 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 141.5+ KB

In [5]:
df_co = df[~df["Country/Region"].isin(["Mainland China", "Others"])].groupby(["Country/Region", "date"])[["Confirmed", "Deaths", "Recovered"]].sum().reset_index().sort_values(["Country/Region", "date"])
df_co.head()

  Country/Region       date  Confirmed  Deaths  Recovered
0    Afghanistan 2020-02-24        1.0     0.0        0.0
1    Afghanistan 2020-02-25        1.0     0.0        0.0
2    Afghanistan 2020-02-26        1.0     0.0        0.0
3    Afghanistan 2020-02-27        1.0     0.0        0.0
4        Algeria 2020-02-25        1.0     0.0        0.0

In [6]:
co_code = pd.read_csv("data/iso-country-codes.csv")
co_code.head()

,English short name lower case,Alpha-2 code,Alpha-3 code,Numeric code,ISO 3166-2
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF
1,Ã…land Islands,AX,ALA,248,ISO 3166-2:AX
2,Albania,AL,ALB,8,ISO 3166-2:AL
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ
4,American Samoa,AS,ASM,16,ISO 3166-2:AS

In [7]:
df_merge = pd.merge(left = df_co, right = co_code, how = "left", left_on = "Country/Region", right_on = "English short name lower case")
df_merge

,Country/Region,date,Confirmed,Deaths,Recovered,English short name lower case,Alpha-2 code,Alpha-3 code,Numeric code,ISO 3166-2
0,Afghanistan,2020-02-24,1.0,0.0,0.0,Afghanistan,AF,AFG,4.0,ISO 3166-2:AF
1,Afghanistan,2020-02-25,1.0,0.0,0.0,Afghanistan,AF,AFG,4.0,ISO 3166-2:AF
2,Afghanistan,2020-02-26,1.0,0.0,0.0,Afghanistan,AF,AFG,4.0,ISO 3166-2:AF
3,Afghanistan,2020-02-27,1.0,0.0,0.0,Afghanistan,AF,AFG,4.0,ISO 3166-2:AF
4,Algeria,2020-02-25,1.0,0.0,0.0,Algeria,DZ,DZA,12.0,ISO 3166-2:DZ
...,...,...,...,...,...,...,...,...,...,...
967,Vietnam,2020-02-23,16.0,0.0,14.0,Vietnam,VN,VNM,704.0,ISO 3166-2:VN
968,Vietnam,2020-02-24,16.0,0.0,14.0,Vietnam,VN,VNM,704.0,ISO 3166-2:VN
969,Vietnam,2020-02-25,16.0,0.0,16.0,Vietnam,VN,VNM,704.0,ISO 3166-2:VN
970,Vietnam,2020-02-26,16.0,0.0,16.0,Vietnam,VN,VNM,704.0,ISO 3166-2:VN
971,Vietnam,2020-02-27,16.0,0.0,16.0,Vietnam,VN,VNM,704.0,ISO 3166-2:VN

In [8]:
unknown_co = list(df_merge[df_merge["Alpha-2 code"].isnull()]["Country/Region"].unique())
print(unknown_co)
# code_list = ["CI", "MO", "KR", "GB", "US"]
# mapper = dict(zip(unknown_co, code_list))
mapper = {'Ivory Coast': 'CI',
    'Macau': 'MO',
    'North Macedonia': 'MK',
    'South Korea': 'KR',
    'UK': 'UK',
    'US': 'US'}

['Ivory Coast', 'Macau', 'North Macedonia', 'South Korea', 'UK', 'US']

In [9]:
# add countrycode manually for unmapped country
df_merge.loc[df_merge["Country/Region"].isin(unknown_co), "Alpha-2 code"] = df_merge.loc[df_merge["Country/Region"].isin(unknown_co), "Country/Region"].map(mapper)

In [10]:
df_merge["Image"] = "https://www.countryflags.io/"+df_merge["Alpha-2 code"]+"/shiny/64.png"
df_merge["date"] = df_merge.date.dt.date
df_merge.to_excel("df_merge.xlsx")

In [11]:
confirmed = df_merge.pivot_table(index = ["Country/Region", "Alpha-2 code", "Image"], columns = "date", values = "Confirmed", aggfunc = "sum", fill_value = 0)
confirmed.to_excel("confirmed.xlsx")

In [15]:
df_co[df_co["Country/Region"] == "South Korea"]

    Country/Region       date  Confirmed  Deaths  Recovered
640    South Korea 2020-01-22        1.0     0.0        0.0
641    South Korea 2020-01-23        1.0     0.0        0.0
642    South Korea 2020-01-24        2.0     0.0        0.0
643    South Korea 2020-01-25        2.0     0.0        0.0
644    South Korea 2020-01-26        3.0     0.0        0.0
645    South Korea 2020-01-27        4.0     0.0        0.0
646    South Korea 2020-01-28        4.0     0.0        0.0
647    South Korea 2020-01-29        4.0     0.0        0.0
648    South Korea 2020-01-30        4.0     0.0        0.0
649    South Korea 2020-01-31       11.0     0.0        0.0
650    South Korea 2020-02-01       12.0     0.0        0.0
651    South Korea 2020-02-02       15.0     0.0        0.0
652    South Korea 2020-02-03       15.0     0.0        0.0
653    South Korea 2020-02-04       16.0     0.0        0.0
654    South Korea 2020-02-05       19.0     0.0        0.0
655    South Korea 2020-02-06       23.0     0.0        0.0
656    South Korea 2020-02-07       24.0     0.0        1.0
657    South Korea 2020-02-08       24.0     0.0        1.0
658    South Korea 2020-02-09       25.0     0.0        3.0
659    South Korea 2020-02-10       27.0     0.0        3.0
660    South Korea 2020-02-11       28.0     0.0        3.0
661    South Korea 2020-02-12       28.0     0.0        7.0
662    South Korea 2020-02-13       28.0     0.0        7.0
663    South Korea 2020-02-14       28.0     0.0        7.0
664    South Korea 2020-02-15       28.0     0.0        9.0
665    South Korea 2020-02-16       29.0     0.0        9.0
666    South Korea 2020-02-17       30.0     0.0       10.0
667    South Korea 2020-02-18       31.0     0.0       12.0
668    South Korea 2020-02-19       31.0     0.0       12.0
669    South Korea 2020-02-20      104.0     1.0       16.0
670    South Korea 2020-02-21      204.0     2.0       16.0
671    South Korea 2020-02-22      433.0     2.0       16.0
672    South Korea 2020-02-23      602.0     6.0       18.0
673    South Korea 2020-02-24      833.0     8.0       18.0
674    South Korea 2020-02-25      977.0    10.0       22.0
675    South Korea 2020-02-26     1261.0    12.0       22.0
676    South Korea 2020-02-27     1766.0    13.0       22.0