In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("sk rfm.csv")
df.head()

                         advertising_id  recency  frequency  monetary
0  853b8f31-bbf9-4344-aa97-b381b407ff22       38         41       NaN
1  4407acad-533d-4d5f-be42-7039591c9e2d        9        574       NaN
2  98597eca-ffea-49e2-a761-cc583a5b8090       13         50       NaN
3  b440816c-693d-4862-af08-2693555ef3d2        2         24       NaN
4  b913c147-e1d2-4ee5-b880-3d53c3030d24       32        149       NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54345 entries, 0 to 54344
Data columns (total 4 columns):
advertising_id    54345 non-null object
recency           54345 non-null int64
frequency         54345 non-null int64
monetary          65 non-null float64
dtypes: float64(1), int64(2), object(1)
memory usage: 1.7+ MB

In [7]:
df["r"] = pd.qcut(df.recency, q = 5, labels = range(5,0,-1))
df["f"] = pd.qcut(df.frequency, q = 5, labels = range(1,6))

In [8]:
df[["r", "f"]] = df[["r", "f"]].astype(int)

In [9]:
df.groupby("r").recency.mean()

r
1    39.697019
2    26.960487
3    20.099874
4    12.959919
5     4.823584
Name: recency, dtype: float64

In [10]:
df.groupby("f").frequency.mean()

f
1     2.332380
2     4.000000
3     5.825311
4     9.590958
5    39.157451
Name: frequency, dtype: float64

In [11]:
df.loc[(df.r <= 2) & (df.f <= 2),"RFM"] = "Hibernating"
df.loc[(df.r == 3) & (df.f <= 2),"RFM"] = "About to Sleep"
df.loc[(df.r == 4) & (df.f == 1),"RFM"] = "Promising"
df.loc[(df.r == 5) & (df.f == 1),"RFM"] = "New Customers"
df.loc[(df.r <= 2) & (df.f >= 3) & (df.f <= 4),"RFM"] = "At Risk"
df.loc[(df.r == 3) & (df.f == 3),"RFM"] = "Need Attention"
df.loc[(df.r >= 4) & (df.f >= 2) & (df.f <= 3),"RFM"] = "Potential Loyalists"
df.loc[(df.r <= 2) & (df.f == 5),"RFM"] = "Cannot Lose Them"
df.loc[(df.r >= 3) & (df.r <= 4) & (df.f >= 4),"RFM"] = "Loyal Customers"
df.loc[(df.r == 5) & (df.f >= 4),"RFM"] = "Champions"

In [12]:
df.RFM.value_counts()

Hibernating            10171
At Risk                 8357
Loyal Customers         7251
Potential Loyalists     7123
Champions               5462
About to Sleep          4846
Promising               2860
Cannot Lose Them        2859
New Customers           2845
Need Attention          2571
Name: RFM, dtype: int64

In [15]:
df.to_csv("sk rfm ok.csv")

In [14]:
df.groupby("RFM").monetary.mean()

RFM
About to Sleep               NaN
At Risk                      NaN
Cannot Lose Them        4.828615
Champions              11.003413
Hibernating                  NaN
Loyal Customers         5.749709
Need Attention               NaN
New Customers                NaN
Potential Loyalists     5.017216
Promising                    NaN
Name: monetary, dtype: float64