In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("cf rfm.csv")
df.head()

                         advertising_id  recency  frequency  monetary
0  fd12a0d9-b570-44c8-af9e-1f40c7337310        1        126       NaN
1  da96a5bb-986a-4ea5-b3cf-1a510fce7bce        1        480  0.990728
2  a21fb4ed-904a-43a9-a983-ed5d510d2b11        1        421       NaN
3  73bcad50-6f8e-4532-8ee3-4dfcfb8919b0        1        170       NaN
4  b318aa46-aab5-4616-b4d0-0b3866124569        1        283       NaN

In [13]:
df["r"] = pd.qcut(df.recency, q = 5, labels = range(5,0,-1))
df["f"] = pd.qcut(df.frequency, q = 5, labels = range(1,6))

In [35]:
df[["r", "f"]] = df[["r", "f"]].astype(int)

In [21]:
df.groupby("r").recency.mean()

r
5     2.742806
4     8.799033
3    16.681030
2    28.821869
1    44.074693
Name: recency, dtype: float64

In [22]:
df.groupby("f").frequency.mean()

f
1     1.923544
2     3.000000
3     4.800587
4     8.998920
5    31.826595
Name: frequency, dtype: float64

In [44]:
df.loc[(df.r <= 2) & (df.f <= 2),"RFM"] = "Hibernating"
df.loc[(df.r == 3) & (df.f <= 2),"RFM"] = "About to Sleep"
df.loc[(df.r == 4) & (df.f == 1),"RFM"] = "Promising"
df.loc[(df.r == 5) & (df.f == 1),"RFM"] = "New Customers"
df.loc[(df.r <= 2) & (df.f >= 3) & (df.f <= 4),"RFM"] = "At Risk"
df.loc[(df.r == 3) & (df.f == 3),"RFM"] = "Need Attention"
df.loc[(df.r >= 4) & (df.f >= 2) & (df.f <= 3),"RFM"] = "Potential Loyalists"
df.loc[(df.r <= 2) & (df.f == 5),"RFM"] = "Cannot Lose Them"
df.loc[(df.r >= 3) & (df.r <= 4) & (df.f >= 4),"RFM"] = "Loyal Customers"
df.loc[(df.r == 5) & (df.f >= 4),"RFM"] = "Champions"

In [45]:
df.RFM.value_counts()

Hibernating            14150
At Risk                12403
Loyal Customers        11217
Potential Loyalists    10934
Champions               7789
About to Sleep          5532
Promising               4316
Need Attention          3754
Cannot Lose Them        3444
New Customers           3097
Name: RFM, dtype: int64

In [46]:
df.to_csv("cf rfm ok.csv")

In [47]:
df.groupby("RFM").monetary.mean()

RFM
About to Sleep         1.033528
At Risk                1.399207
Cannot Lose Them       2.346750
Champions              1.309628
Hibernating            0.990000
Loyal Customers        3.132114
Need Attention              NaN
New Customers               NaN
Potential Loyalists    0.876297
Promising                   NaN
Name: monetary, dtype: float64