In [1]:
import pandas as pd
import requests
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [80]:
#get data from Johns Hopkins University Center for Systems Science and Engineering (JHU CCSE)
def get_data(start_date, end_date):
    result = pd.DataFrame()
    temp_date = pd.to_datetime(start_date)
    e_date = pd.to_datetime(end_date)
    while temp_date <= e_date:
        try:
            temp_df = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/{:02d}-{:02d}-{}.csv".format(temp_date.month, temp_date.day, temp_date.year))
            temp_df["date"] = temp_date
            result = result.append(temp_df, ignore_index = True)
        except:
            pass
        temp_date = temp_date + pd.Timedelta(days = 1)
    return result

In [77]:
df = get_data("2020-01-22", "2020-02-25")
df.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,date
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN,2020-01-22
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN,2020-01-22
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN,2020-01-22
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN,2020-01-22
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN,2020-01-22

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2285 entries, 0 to 2284
Data columns (total 7 columns):
Province/State    1656 non-null object
Country/Region    2285 non-null object
Last Update       2285 non-null object
Confirmed         2266 non-null float64
Deaths            1844 non-null float64
Recovered         1897 non-null float64
date              2285 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 125.1+ KB

In [79]:
df[df.date == "2020-02-24"]

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,date
2195,Hubei,Mainland China,2020-02-24T11:13:09,64287.0,2495.0,16748.0,2020-02-24
2196,Guangdong,Mainland China,2020-02-24T10:23:02,1345.0,6.0,786.0,2020-02-24
2197,Henan,Mainland China,2020-02-24T13:23:05,1271.0,19.0,943.0,2020-02-24
2198,Zhejiang,Mainland China,2020-02-24T09:43:02,1205.0,1.0,782.0,2020-02-24
2199,Hunan,Mainland China,2020-02-24T14:13:11,1016.0,4.0,731.0,2020-02-24
...,...,...,...,...,...,...,...
2280,"Seattle, WA",US,2020-02-09T07:03:04,1.0,0.0,1.0,2020-02-24
2281,"Tempe, AZ",US,2020-02-01T19:43:03,1.0,0.0,0.0,2020-02-24
2282,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0,2020-02-24
2283,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0,2020-02-24
2284,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0,2020-02-24